@font-face {
  font-family: 'Avenir Light';
  src: url('./assets/fonts/avenir-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  ::selection {
    @apply bg-stone-200 text-stone-700;
  }
}

@layer base {
  h1 { font-size: 1.5rem; } /* 24px fallback for smallest size */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

