@font-face {
  font-family: 'Avenir Light';
  src: url('./assets/fonts/avenir-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  ::selection {
    @apply bg-amber-300 text-stone-900;
  }
}

@layer base {
  h1 { font-size: 1.5rem; } /* 24px fallback for smallest size */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography */
@layer base {
  main {
    @apply text-base md:text-lg leading-relaxed;
  }

  main h1 {
    @apply text-3xl font-playfair md:text-4xl leading-tight;
  }

  main h2 {
    @apply font-bold text-lg md:text-xl leading-tight;
  }

  main h3 {
    @apply text-2xl md:text-3xl;
  }

  main h4 {
    @apply text-xl md:text-2xl font-medium;
  }

  main h5 {
    @apply text-lg font-medium;
  }

  main h6 {
    @apply text-base font-medium uppercase tracking-wide;
  }

  main p {
    @apply mb-4;
  }
}